.AppStyle {
  display: grid;
  grid-template-rows: min-content min-content auto;
  grid-template-areas:
    'nova-task'
    'timer'
    'tasks';
  row-gap: 24px;
  min-width: 320px;
  min-height: calc(100vh - 32px);
  width: 100%;
  padding: 32px;
  margin-top: 20px;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: #171717;
  flex: content;

  @media screen and (min-width: 1280px) {
    grid-template-areas:
      'nova-task tasks'
      'timer tasks';
    column-gap: 64px;
    grid-template-rows: min-content min-content;
    grid-template-columns: 750px 300px;
    justify-content: center;
    align-content: center;
    padding: 64px;
  }
}

.TesteStyle {
  margin-top: 20px;
  align-content: center;
  justify-content: center;
  display: flex;
  font-size: 100px;
}

.ErrorStyle {
  margin-top: 20px;
  align-content: center;
  justify-content: center;
  display: flex;
  font-size: 100px;
}
