.navbar {
  display: flex;
}

.navbar a {
  color: white;
  padding: 10px 15px;
  text-decoration: none;
  text-align: center;
  background-color: rgb(199, 102, 254);
  border: 1px solid white;
  border-radius: 10px;
  transition: background-color 0.3s ease;
  margin: 0 10px;
}

.navbar a:hover {
  background-color: #dfb6ff;
  color: rgb(108, 0, 150);
}
